{% extends "base.jinja" %}
{% from "doc_page_macro.jinja" import doc_page %}
{% block title %}
  {{ super() }} | {{ ftl_get_message("community-guidelines") }}
{% endblock title %}
{% block content %}
  {{ doc_page("policy", "community-guidelines", "community-guidelines-content") }}
{% endblock content %}
